@charset utf-8;
html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
				margin: 0;
				padding: 0;
			}
			*{box-sizing: border-box;}
			html, body {
				min-height: 100%;
			}
			body {
				font-family: "Microsoft YaHei";
				font-size:14px;
				color:#333;
			}
			h1, h2, h3, h4, h5, h6{font-weight:normal;}
			ul ol,ul li {
				list-style: none;
			}
			img {
				border: none;
				vertical-align: middle;
			}
			a {
				text-decoration: none;
				color: #232323;
			}
			p,span,div,h1, h2, h3, h4, h5, h6,a{
				color:inherit;
			}
		#main_box .heard .bar .right{
			  width:670px;
              line-height:30px;
			  float:right;
			}
			#main_box .heard .bar .right ul li{
			  float:left;
			  margin-left:35px;
			}
			#main_box .heard .bar .right ul .new_car{
			  position:relative;
			}
			#main_box .heard .bar .right ul .new_car .new_car_icon{
			  display:inline-block;
			  width:40px;
			  height:18px;
			  background:url("http://s5.xinstatic.com/static/newcar-www/widget/common/header/imgs/newyear-newcar_47d2e69.png") no-repeat;
			  position:absolute;
			  top:-8px;
			  left:8px;
			} 